        /* * {
            outline: 1px solid tomato;
        } */

        *,
        *::before,
        *::after {
            box-sizing: border-box;
        }

        * {
            margin: 0;
            padding: 0;
            border: 0;
        }
        body {
            margin: auto;
            box-shadow: rgba(9, 30, 66, 0.15) 0px 0px 10px 0px;
            font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
            font-size: 16px;
            line-height: 1.6;
            width: 400px;
            padding: 10px;
        }

        table {
            text-align: left;
            border-collapse: collapse;
            table-layout: fixed;
        }
        td {
            overflow-wrap: anywhere;
        }
        td * {
            width: 100%;
            word-break: break-word;
            overflow-wrap: break-word;
        }

        h1 {
            color: black;
            font-weight: normal;
            text-decoration: underline;
            font-size: 24px;
            text-underline-offset: 10px;
            text-transform: capitalize;
        }

        button {
            border: none;
            padding: 10px;
            border-top: 1px solid slategray;
            border-bottom: 1px solid slategray;
            font-size: inherit;
            background: #e9efff;
            color: inherit;
        }
        button:hover {
            cursor: pointer;
        }
        button:active {
            background: #dee9fc;
        }
        .link-button {
            display: inline-block;
            padding: 6.46px;
            border-top: 1px solid slategray;
            border-bottom: 1px solid slategray;
            background: #e9efff;
            color: inherit;
            font-size: inherit;
            text-decoration: none;
            border-left: none;
            border-right: none;
            text-align: center;
        }
        .link-button-disabled {
            display: inline-block;
            padding: 6.46px;
            border-top: 1px solid slategray;
            border-bottom: 1px solid slategray;
            background: rgb(238 238 238);
            color: #93a1af;
            font-size: inherit;
            text-decoration: none;
            border-left: none;
            border-right: none;
            text-align: center;
            pointer-events: none;
        }

        input {
            outline: none;
            padding: 15px 5px 10px 5px;
            border: none;
            border-bottom: 1px solid slategray;
            background: white;
            font-size: inherit;
            color: inherit;
        }

        a {
            text-underline-offset: 5px;
        }

        ul {
            list-style-type: none;
        }

        progress {
            height: 40px;
            border-top: 1px solid slategray;
            border-bottom: 1px solid slategray;
        }

        progress[value]::-webkit-progress-bar {
            background-color: white;
        }

        progress[value]::-webkit-progress-value {
            background-color: #e9efff;
        }
