{{ define "request_list" }}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<title>Requests</title>
<style>
{{ .CSS }}
</style>
</head>
<body>
<table id="menu" style="width: 380px;">
<colgroup>
<col style="width: 185px;"/>
<col style="width: 10px;"/>
<col style="width: 185px;"/>
</colgroup>
<tbody>
<tr>
<td><a href="/">Home</a></td>
<td>&nbsp;</td>
<td><a href="/requests/">Almono</a></td>
</tr>
</tbody>
</table>
<table style="width: 380px;">
<colgroup>
<col style="width: 380px;"/>
</colgroup>
<tbody>
<tr><td>&nbsp;</td></tr>
</tbody>
</table>
<table style="width: 380px;">
<colgroup>
<col style="width: 380px;"/>
</colgroup>
<tbody>
<tr>
<td><h1>Requests</h1></td>
</tr>
</tbody>
</table>
<table style="width: 380px;">
<colgroup>
<col style="width: 380px;"/>
</colgroup>
<tbody>
<tr><td>&nbsp;</td></tr>
</tbody>
</table>
<table id="breadcrumbs" style="width: 380px;">
<colgroup>
<col style="width: 380px;"/>
</colgroup>
<tbody>
<tr>
<td><small>|&#160;<a href="/">Home</a>&#160;|&#160;Requests&#160;|</small></td>
</tr>
</tbody>
</table>
<table style="width: 380px;">
<colgroup>
<col style="width: 380px;"/>
</colgroup>
<tbody>
<tr><td>&nbsp;</td></tr>
</tbody>
</table>
<table style="width: 380px;">
<colgroup>
<col style="width: 380px;"/>
</colgroup>
<tbody>
<tr>
<td>
<form method="post" action="/requests/new">
<table style="width: 380px;">
<colgroup><col style="width: 380px;"/></colgroup>
<tbody>
<tr><td><input type="text" name="request" placeholder="Request"/></td></tr>
<tr><td>&nbsp;</td></tr>
<tr><td><button type="submit">Send request</button></td></tr>
</tbody>
</table>
</form>
</td>
</tr>
</tbody>
</table>
<table style="width: 380px;">
<colgroup>
<col style="width: 380px;"/>
</colgroup>
<tbody>
<tr><td>&nbsp;</td></tr>
</tbody>
</table>
<table style="width: 380px;">
<colgroup>
<col style="width: 380px;"/>
</colgroup>
<tbody>
{{ if .Requests }}
{{ range .Requests }}
<tr>
<td>{{ if .URL }}<a href="{{ .URL }}">{{ .Display }}</a>{{ else }}<p>{{ .Display }}</p>{{ end }}</td>
</tr>
{{ if .ShowSpacer }}<tr><td>&nbsp;</td></tr>{{ end }}
{{ end }}
{{ else }}
<tr>
<td><p>No requests yet</p></td>
</tr>
{{ end }}
</tbody>
</table>
<table style="width: 380px;">
<colgroup>
<col style="width: 380px;"/>
</colgroup>
<tbody>
<tr><td>&nbsp;</td></tr>
</tbody>
</table>
<table style="width: 380px;">
<colgroup>
<col style="width: 72px;"/>
<col style="width: 5px;"/>
<col style="width: 72px;"/>
<col style="width: 5px;"/>
<col style="width: 72px;"/>
<col style="width: 5px;"/>
<col style="width: 72px;"/>
<col style="width: 5px;"/>
<col style="width: 72px;"/>
</colgroup>
<tbody>
<tr>
{{ range .PageNumbers }}
<td>
{{ if gt .Value $.Pages }}
<a class="link-button" href="#">-</a>
{{ else }}
<a class="link-button" href="?page={{ .Value }}">{{ if eq .Value $.Page }}[{{ .Value }}]{{ else }}{{ .Value }}{{ end }}</a>
{{ end }}
</td>
{{ if .HasSpacer }}<td>&nbsp;</td>{{ end }}
{{ end }}
</tr>
</tbody>
</table>
<table style="width: 380px;">
<colgroup>
<col style="width: 380px;"/>
</colgroup>
<tbody>
<tr><td>&nbsp;</td></tr>
</tbody>
</table>
</body>
</html>
{{ end }}
