{{ define "request_create" }}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<title>Create request</title>
<style>
{{ .CSS }}
</style>
</head>
<body>
<table id="menu" style="width: 380px;">
<colgroup>
<col style="width: 80px;"/>
<col style="width: 10px;"/>
<col style="width: 180px;"/>
<col style="width: 10px;"/>
<col style="width: 100px;"/>
</colgroup>
<tbody>
<tr>
<td><a href="/">Home</a></td>
<td>&nbsp;</td>
<td><a href="/requests/">Requests</a></td>
<td>&nbsp;</td>
<td><a class="link-button" href="/livestream/">Livestream</a></td>
</tr>
</tbody>
</table>
<table style="width: 380px;">
<colgroup>
<col style="width: 380px;"/>
</colgroup>
<tbody>
<tr>
<td>&nbsp;</td>
</tr>
</tbody>
</table>
<table style="width: 380px;">
<colgroup>
<col style="width: 230px;"/>
<col style="width: 30px;"/>
<col style="width: 120px;"/>
</colgroup>
<tbody>
<tr>
<td><h1>Create request</h1></td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
</tbody>
</table>
<table id="breadcrumbs" style="width: 380px;">
<colgroup><col style="width: 380px;"/></colgroup>
<tbody>
<tr>
<td><small>|&#160;<a href="/">Home</a>&#160;|&#160;<a href="/requests/">Requests</a>&#160;|&#160;Create&#160;|</small></td>
</tr>
</tbody>
</table>
<table style="width: 380px;">
<colgroup><col style="width: 380px;"/></colgroup>
<tbody><tr><td>&nbsp;</td></tr></tbody>
</table>

<table style="width: 380px;">
<colgroup><col style="width: 380px;"/></colgroup>
<tbody>
<tr>
<td>
<form method="post" action="/requests/new">
<table style="width: 380px;">
<colgroup><col style="width: 380px;"/></colgroup>
<tbody>
<tr><td><input type="text" name="request" placeholder="Request"/></td></tr>
<tr><td>&nbsp;</td></tr>
<tr><td><button type="submit">Send request</button></td></tr>
</tbody>
</table>
</form>
</td>
</tr>
</tbody>
</table>

<table style="width: 380px;">
<colgroup><col style="width: 380px;"/></colgroup>
<tbody>
<tr><td>&nbsp;</td></tr>
<tr>
<td>
<form method="get" action="/requests/">
<table style="width: 380px;">
<colgroup><col style="width: 380px;"/></colgroup>
<tbody><tr><td><button type="submit">Back to requests</button></td></tr></tbody>
</table>
</form>
</td>
</tr>
</tbody>
</table>
</body>
</html>
{{ end }}
