{{ define "response" }}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<meta http-equiv="refresh" content="3"/>
<title>Response</title>
<style>
{{ .CSS }}
</style>
</head>
<body>
<table id="menu" style="width: 380px;">
<colgroup>
<col style="width: 60px;"/>
<col style="width: 5px;"/>
<col style="width: 315px;"/>
</colgroup>
<tbody>
<tr>
<td><a href="/">Home</a></td>
<td>&nbsp;</td>
<td><a href="/requests/">Almono</a></td>
</tr>
</tbody>
</table>
<table style="width: 380px;">
<colgroup>
<col style="width: 380px;"/>
</colgroup>
<tbody>
<tr><td>&nbsp;</td></tr>
</tbody>
</table>
<table style="width: 380px;">
<colgroup>
<col style="width: 380px;"/>
</colgroup>
<tbody>
<tr>
<td><h1>Response</h1></td>
</tr>
</tbody>
</table>
<table id="breadcrumbs" style="width: 380px;">
<colgroup>
<col style="width: 380px;"/>
</colgroup>
<tbody>
<tr>
<td><small>|&#160;<a href="/">Home</a>&#160;|&#160;<a href="/requests/">Requests</a>&#160;|&#160;{{ .RequestID }}&#160;|</small></td>
</tr>
</tbody>
</table>
<table style="width: 380px;">
<colgroup>
<col style="width: 380px;"/>
</colgroup>
<tbody>
<tr><td>&nbsp;</td></tr>
</tbody>
</table>
<table style="width: 380px;">
<colgroup>
<col style="width: 380px;"/>
</colgroup>
<tbody>
<tr>
<td><a href="/requests/">{{ .Prompt }}</a></td>
</tr>
</tbody>
</table>
<table style="width: 380px;">
<colgroup>
<col style="width: 380px;"/>
</colgroup>
<tbody>
<tr><td>&nbsp;</td></tr>
</tbody>
</table>
<table style="width: 380px;">
<colgroup>
<col style="width: 380px;"/>
</colgroup>
<tbody>
<tr>
<td><img src="/requests/{{ .RequestID }}/image"/></td>
</tr>
</tbody>
</table>
<table style="width: 380px;">
<colgroup>
<col style="width: 380px;"/>
</colgroup>
<tbody>
<tr><td>&nbsp;</td></tr>
</tbody>
</table>
<table style="width: 380px;">
<colgroup>
<col style="width: 380px;"/>
</colgroup>
<tbody>
<tr>
<td><a class="link-button" href="/requests/">Back to requests</a></td>
</tr>
</tbody>
</table>
<table style="width: 380px;">
<colgroup>
<col style="width: 380px;"/>
</colgroup>
<tbody>
<tr><td>&nbsp;</td></tr>
</tbody>
</table>
</body>
</html>
{{ end }}
